body{
background-color: rgb(185, 238, 220);
height: 100vh;
}
.login{
    margin-top: 100px;
    width: 250px;
    height: 300px;
    gap: 10px;
    background-color: rgb(139, 223, 247);
    border-radius: 10px;
}
button{
    margin:0 30%;
}