<body class="p-4">
    <h3 class="head py-4"> Half Sleeve Shirts for Men</h3>
    <div class="container ">
        <div class="row ">
            <div class="my-3 col-lg-3 col-md-6 col-sm-12 items "> 
                <div class="card p-3">
                <img src="src/images/slider-one.jpg" alt="">
                <ul>
                    <li>Smart fit Shirt</li>
                    <li><b>M L XL XXL</b></li>
                    <li>899.00 INR</li>
                </ul>
                <span>
                    <button class="btn bg-info x-1">Buy</button>
                    <button class="btn  bg-danger mx-1">Add to cart</button>
                </span>   
                </div> 
            </div>
            <div class="my-3 col-lg-3 col-md-6 col-sm-12 items ">
                <div class="card p-3">
                <img src="https://img4.dhresource.com/webp/m/0x0/f3/albu/jc/s/29/c950d95a-4643-4658-8355-a91340f03261.jpg" alt="">
                <ul>
                    <li>White Popcorn Pattern</li>
                    <li><b>S M L XL </b></li>
                    <li>399.00 INR</li>
                </ul>
                <span>
                    <button class="btn bg-info x-1">Buy</button>
                    <button class="btn bg-danger mx-1">Add to cart</button>
                </span> 
                </div>   
            </div>
            <div class="my-3 col-lg-3 col-md-6 col-sm-12 items ">
                <div class="card p-3">
                <img src="https://rukminim2.flixcart.com/image/850/1000/xif0q/shirt/2/o/e/m-seersucker-popcorn-half-sleeve-shirt-for-men-solstice-original-imagvg674nhezgpb.jpeg?q=90&crop=false" alt="">
                <ul>
                    <li>Casual Beige Shirt</li>
                    <li><b>M L XL XXL</b></li>
                    <li>599.00 INR</li>
                </ul>
                <span>
                    <button class="btn bg-info x-1">Buy</button>
                    <button class="btn bg-danger mx-1">Add to cart</button>
                </span> 
                </div>   
            </div>
            <div class="my-3 col-lg-3 col-md-6 col-sm-12 items ">
                <div class="card p-3">
                <img src="https://images.meesho.com/images/products/432410973/vxpkw_512.webp" alt="">
                <ul>
                    <li>shirt name r brand</li>
                    <li><b>M L XL XXL</b></li>
                    <li>399</li>
                </ul>
                <span>
                    <button class="btn bg-info x-1">Buy</button>
                    <button class="btn bg-danger mx-1">Add to cart</button>
                </span> 
                </div>   
            </div>
            <div class="my-3 col-lg-3 col-md-6 col-sm-12 items ">
                <div class="card p-3">
                <img src="https://rukminim2.flixcart.com/image/850/1000/xif0q/shirt/r/w/p/xl-regular-fit-self-design-popcorn-spread-collar-casual-half-original-imagzefkzahw8kwy.jpeg?q=90&crop=false" alt="">
                <ul>
                    <li>Solid Casual Black </li>
                    <li><b>M L XL XXL</b></li>
                    <li>444.00 INR</li>
                </ul>
                <span>
                    <button class="btn bg-info x-1">Buy</button>
                    <button class="btn bg-danger mx-1">Add to cart</button>
                </span>  
                </div>  
            </div>
            <div class="my-3 col-lg-3 col-md-6 col-sm-12 items ">
                <div class="card p-3">
                <img src="https://i.etsystatic.com/31212848/r/il/9d6a32/5407960161/il_fullxfull.5407960161_qj2n.jpg" alt="">
                <ul>
                    <li>Handmade Summer Shirt</li>
                    <li><b>M L XL XXL</b></li>
                    <li>599.00 INR</li>
                </ul>
                <span>
                    <button class="btn bg-info x-1">Buy</button>
                    <button class="btn bg-danger mx-1">Add to cart</button>
                </span>   
                </div> 
            </div>
            <div class="my-3 col-lg-3 col-md-6 col-sm-12 items ">
                <div class="card p-3">
                <img src="https://balman.online/cdn/shop/products/navy-maroon_1.jpg?v=1681374320" alt="">
                <ul>
                    <li>Set of 2- Half Sleeve</li>
                    <li><b>SM M L XL</b></li>
                    <li>549.00 INR</li>
                </ul>
                <span>
                    <button class="btn bg-info x-1">Buy</button>
                    <button class="btn bg-danger mx-1">Add to cart</button>
                </span>  
                </div>  
            </div>
            <div class="my-3 col-lg-3 col-md-6 col-sm-12 items ">
                <div class="card p-3">
                <img src="https://5.imimg.com/data5/SELLER/Default/2022/8/ND/CP/RW/157231544/men-half-t-shirts.jpg" alt="">
                <ul>
                    <li>Printed Cotton</li>
                    <li><b>SM M L XL</b></li>
                    <li>999.00 INR</li>
                </ul>
                <span>
                    <button class="btn bg-info x-1">Buy</button>
                    <button class="btn bg-danger mx-1">Add to cart</button>
                </span>  
                </div>  
            </div>
            <div class="my-3 col-lg-3 col-md-6 col-sm-12 items ">
                <div class="card p-3">
                <img src="https://www.shopolics.com/uploads/images/full/Blue-Floral-Cotton-Half-Sleeves-Men-Printed-Shirt-47857.jpg" alt="">
                <ul>
                    <li>Printed Blue Floral Cotton Shirt </li>
                    <li><b>SM M L XL</b></li>
                    <li>299.00 INR</li>
                </ul>
                <span>
                    <button class="btn bg-info x-1">Buy</button>
                    <button class="btn bg-danger mx-1">Add to cart</button>
                </span>  
                </div>  
            </div>
            <div class="my-3 col-lg-3 col-md-6 col-sm-12 items ">
                <div class="card p-3">
                <img src="https://images.meesho.com/images/products/99942192/s8ulc_512.webp" alt="">
                <ul>
                    <li>White & Blue Lining Half Sleeves</li>
                    <li><b>SM M L XL</b></li>
                    <li>382.00 INR</li>
                </ul>
                <span>
                    <button class="btn bg-info x-1">Buy</button>
                    <button class="btn bg-danger mx-1">Add to cart</button>
                </span>  
                </div>  
            </div>
            <div class="my-3 col-lg-3 col-md-6 col-sm-12 items ">
                <div class="card p-3">
                <img src="https://northrepublic.com/cdn/shop/files/0A0A0216_a7ca882a-c951-4404-84dc-687bea6b888e.jpg?v=1703157836" alt="">
                <ul>
                    <li>loose fit White casual embroidered half sleeve</li>
                    <li><b>SM M L XL</b></li>
                    <li>749.00 INR</li>
                </ul>
                <span>
                    <button class="btn bg-info x-1">Buy</button>
                    <button class="btn bg-danger mx-1">Add to cart</button>
                </span> 
                </div>   
            </div>
            <div class="my-3 col-lg-3 col-md-6 col-sm-12 items ">
                <div class="card p-3"> 
                <img src="https://assets.myntassets.com/dpr_1.5,q_60,w_400,c_limit,fl_progressive/assets/images/2024/AUGUST/21/mJs91hiR_232bc8aebb71481086ba1e41a64be8ac.jpg" alt="">
                <ul>
                    <li>Black Strips Cotton</li>
                    <li><b>SM M L XL</b></li>
                    <li>549.00 INR</li>
                </ul>
                <span>
                    <button class="btn bg-info x-1">Buy</button>
                    <button class="btn bg-danger mx-1">Add to cart</button>
                </span>
                </div>    
            </div>
        </div>
    </div>
</body>
