<body class="p-4">
    <h3 class="head py-4">T-Shirts for Men</h3>
    <div class="container ">
        <div class="row ">
            <div class="my-3 col-lg-3 col-md-6 col-sm-12 items "> 
                <div class="card p-3 rounded">
                    <img src="https://i5.walmartimages.com/seo/Herrnalise-Adult-Ultra-Cotton-T-Shirt-Men-s-Vintage-Printed-Tethered-Neckline-Half-Sleeve-Top-Stylish-Blouse-Top_971ad536-0e9f-4f27-967c-b37a2cab93e8.421ff970d4fa33e212137b651634113a.jpeg?odnHeight=768&odnWidth=768&odnBg=FFFFFF" alt="">
                <ul>
                    <li>Smart fit Shirt</li>
                    <li><b>M L XL XXL</b></li>
                    <li>899.00 INR</li>
                </ul>
                <span>
                    <button class="btn bg-info x-1">Buy</button>
                    <button class="btn  bg-danger mx-1">Add to cart</button>
                </span>   
                </div> 
            </div>
            <div class="my-3 col-lg-3 col-md-6 col-sm-12 items "> 
                <div class="card p-3 rounded">
                <img src="https://assets.laboutiqueofficielle.com/w_450,q_auto,f_auto/media/products/2021/06/24/uniplay_271716_UY658_NOIR_20210629T140106_03.jpg" alt="">
                <ul>
                    <li>Ryses Tee Shirt UY658 Noir</li>
                    <li><b>S M L XL </b></li>
                    <li>799.00 INR</li>
                </ul>
                <span>
                    <button class="btn bg-info x-1">Buy</button>
                    <button class="btn bg-danger mx-1">Add to cart</button>
                </span> 
                </div>   
            </div>
            <div class="my-3 col-lg-3 col-md-6 col-sm-12 items "> 
                <div class="card p-3 rounded">
                <img src="https://imagescdn.allensolly.com/img/app/product/3/39649104-13414405.jpg?auto=format&w=390" alt="">
                <ul>
                    <li>New Trendy Collection | Allen Sally</li>
                    <li><b>M L XL XXL</b></li>
                    <li>399.00 INR</li>
                </ul>
                <span>
                    <button class="btn bg-info x-1">Buy</button>
                    <button class="btn bg-danger mx-1">Add to cart</button>
                </span>  
                </div>  
            </div>
            <div class="my-3 col-lg-3 col-md-6 col-sm-12 items "> 
                <div class="card p-3 ">
                <img src="https://rukminim2.flixcart.com/image/750/900/xif0q/t-shirt/s/g/y/xl-2pcshgcblack-phdwhite-quooco-original-imah3frcamqvqdzr.jpeg?q=20&crop=false" alt="">
                <ul>
                    <li>QUOOCO Graphic Print Round Neck </li>
                    <li><b>M L XL XXL</b></li>
                    <li>649.00 INR</li>
                </ul>
                <span>
                    <button class="btn bg-info x-1">Buy</button>
                    <button class="btn bg-danger mx-1">Add to cart</button>
                </span>  
            </div>  
            </div>
            <div class="my-3 col-lg-3 col-md-6 col-sm-12 items "> 
                <div class="card p-3 ">
                <img src="https://cdn.shopify.com/s/files/1/0606/7585/0484/files/o1-1_480x480.webp?v=1687516316" alt="">
                <ul>
                    <li>Oversized T-Shirt </li>
                    <li><b>M L XL XXL</b></li>
                    <li>455.00 INR</li>
                </ul>
                <span>
                    <button class="btn bg-info x-1">Buy</button>
                    <button class="btn bg-danger mx-1">Add to cart</button>
                </span>   
            </div> 
            </div>
            <div class="my-3 col-lg-3 col-md-6 col-sm-12 items "> 
                <div class="card p-3">
                <img src="https://m.media-amazon.com/images/I/81lblGC1TPL._AC_UY1100_.jpg" alt="">
                <ul>
                    <li>Rise of The Gru Oversized T-Shirt</li>
                    <li><b>M L XL XXL</b></li>
                    <li>799.00 INR</li>
                </ul>
                <span>
                    <button class="btn bg-info x-1">Buy</button>
                    <button class="btn bg-danger mx-1">Add to cart</button>
                </span>    
            </div>
            </div>
            <div class="my-3 col-lg-3 col-md-6 col-sm-12 items ">
                <div class="card p-3"> 
                <img src="https://i.etsystatic.com/50959589/r/il/bf91b7/5873879554/il_570xN.5873879554_acz0.jpg" alt="">
                <ul>
                    <li>T-shirt, Anime Manga Shirt</li>
                    <li><b>S M L XL</b></li>
                    <li>649.00 INR</li>
                </ul>
                <span>
                    <button class="btn bg-info x-1">Buy</button>
                    <button class="btn bg-danger mx-1">Add to cart</button>
                </span> 
                </div>   
            </div>
            <div class="my-3 col-lg-3 col-md-6 col-sm-12 items ">
                <div class="card p-3"> 
                <img src="https://img.joomcdn.net/c07a5b4e2abbc22ff1ad1f870c286b2f504846d9_1024_1024.jpeg" alt="">
                <ul>
                    <li>Vintage etnisk T-shirt 3D Print </li>
                    <li><b>SM M L XL</b></li>
                    <li>999.00 INR</li>
                </ul>
                <span>
                    <button class="btn bg-info x-1">Buy</button>
                    <button class="btn bg-danger mx-1">Add to cart</button>
                </span> 
                </div>   
            </div>
            <div class="my-3 col-lg-3 col-md-6 col-sm-12 items ">
                <div class="card p-3"> 
                <img src="https://cdn-media.powerlook.in/catalog/product/d/p/dp11124610-2.jpg?aio=w-640" alt="">
                <ul>
                    <li>Plain, Polo, Printed, Striped T-shirt </li>
                    <li><b>S M L XL</b></li>
                    <li>499.00 INR</li>
                </ul>
                <span>
                    <button class="btn bg-info x-1">Buy</button>
                    <button class="btn bg-danger mx-1">Add to cart</button>
                </span>
            </div>    
            </div>
            <div class="my-3 col-lg-3 col-md-6 col-sm-12 items "> 
                <div class="card p-3">
                <img src="https://rukminim2.flixcart.com/image/850/1000/xif0q/t-shirt/x/9/z/m-mlm-arn-black-20-manlino-original-imagr4gga5tt5hqp.jpeg?q=20&crop=false" alt="">
                <ul>
                    <li>Manlino Graphic Print Round Neck</li>
                    <li><b>S M L XL</b></li>
                    <li>382.00 INR</li>
                </ul>
                <span>
                    <button class="btn bg-info x-1">Buy</button>
                    <button class="btn bg-danger mx-1">Add to cart</button>
                </span> 
            </div>   
            </div>
            <div class="my-3 col-lg-3 col-md-6 col-sm-12 items ">
                <div class="card p-3">
                <img src="https://assets.ajio.com/medias/sys_master/root/20221229/kOJw/63acae48f997ddfdbd0077e1/-1117Wx1400H-465517875-black-MODEL.jpg" alt="">
                <ul>
                    <li>Brand Print Crew-Neck</li>
                    <li><b>S M L XL</b></li>
                    <li>249.00 INR</li>
                </ul>
                <span>
                    <button class="btn bg-info x-1">Buy</button>
                    <button class="btn bg-danger mx-1">Add to cart</button>
                </span>
                </div>    
            </div>
            <div class="my-3 col-lg-3 col-md-6 col-sm-12 items ">
                <div class="card p-3">
                <img src="https://images.bestsellerclothing.in/data/JJ/01-oct-2024/901074703_g0.jpg?width=415&height=550&mode=fill&fill=blur&format=auto" alt="">
                <ul>
                    <li>Black Strips Cotton</li>
                    <li><b>S M L XL</b></li>
                    <li>249.00 INR</li>
                </ul>
                <span>
                    <button class="btn bg-info x-1">Buy</button>
                    <button class="btn bg-danger mx-1">Add to cart</button>
                </span>
                </div>    
            </div>
        </div>
    </div>
</body>
